

/* Navbar Styling */

.navbar {
    padding: 10px;
    background: grey;
    border-bottom: mintcream;
    }
  
  
.navbar h1 {color: aquamarine;}


.navbar li {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    background: #fff;
    border-radius: 3px;
    border-top:2px solid #777777;
    border-right:2px solid #333333;
    border-bottom:2px solid aquamarine;
    border-left:2px solid #777777;
    font-weight: bold;
    
  }

  .navbar a:hover{color: aquamarine; }
  
/* General Styling Across Pages */

body {background-color: whitesmoke;}

h1 { color: aquamarine;}

h2 { color: black;}




/* Data Page Styling */
  .table_container {
    text-align: center; 
    vertical-align: middle;
    background-color:white;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 15px;
    border-style: solid;
    border-color: aquamarine;
  }

  .container_table th {
    text-align: center;
  background-color: whitesmoke}

  .data_body {background: teal;}

  

#wind_speed {text-align: center;}





#viz {background-color: rgb(226, 235, 236);
      border: dotted;
      text-align: center;
      padding:20px;}



/* Styling for Viz Images */
.single {align-content: center;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 50px;
  margin-bottom: 30px;}
  




/* Media Queries */

@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}